

/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.wrapper {
		width: 712px;
		padding: 48px 28px 60px;
	}
	#selectnav1{display:none;}
	#nav{display:block;}
.header_bottom ul li a {
  font-size: 10px;
  padding: 5px 13px;
}
.main_content {
  margin-right: 0px;
  width: 100%;
  float:none !important;
}
.footer_top_container {
  margin-left: -10px;
}
.single_footer_top {
  margin-left: 10px;
  width: 230px;
}
.work_pagination .newer, .work_pagination .older {

  margin-left: 15px;
}
	
}



/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
	
	.wrapper {
		width: 252px;
		padding: 48px 34px 60px;
	}
	#selectnav1{display:block;height: 30px;width: 232px;}
	#nav{display:none;}	
	
.main_content {
margin-right: 0;
width: 252px;
float:none;
}	

.footer_top_container {
  margin-left: 0;
}
.single_footer_top {
  float: none;
  margin-bottom: 20px;
  margin-left: 0;
  width: 252px;
}
.copyright {
  float: none;
}
.copyright p {
  text-align: center;
}

	
} 



/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	.wrapper {
		width: 436px;
		padding: 36px 22px 48px;
	}
	#selectnav1{display: block;
height: 30px;
width: 100%;}
	#nav{display:none;}
.main_content {
margin-right: 0;
width: 436px;
float:none;
}	

.footer_top_container {
  margin-left: 0;
}
.single_footer_top {
  float: none;
  margin-bottom: 20px;
  margin-left: 0;
  width: 436px;
}
.copyright {
  float: none;
}
.copyright p {
  text-align: center;
}



/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
	body {
	
	}
	
}