@import url(https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700);


h2 .bounceTxt{
  color: #265687;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 72px;
  font-weight: 400;
  letter-spacing: -0.05em;
  text-align: center;
  text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
}
h2 em {
  font-style: normal;
  display: inline-block;
}
h2 em:nth-child(1) {
  color: #4285F4;
}
h2 em:nth-child(2) {
  color: #E94D3D;
}
h2 em:nth-child(3) {
  color: #F7C945;
}
h2 em:nth-child(4) {
  color: #4285F4;
}
h2 em:nth-child(5) {
  color: #34A853;
}
h2 em:nth-child(6) {
  color: #E94D3D;
}
h2 em.bounce-me {
  -webkit-animation: bounce 4s infinite ease-in-out;
  animation: bounce 4s infinite ease-in-out;
}

@-webkit-keyframes bounce {
  60% {
    -webkit-transform: translate(0px, -200px) scale(1.2);
    opacity: 0.8;
    text-shadow: 0px 150px 20px rgba(0, 0, 0, 0.8);
  }
}
@keyframes bounce {
  60% {
    -webkit-transform: translate(0px, -200px) scale(1.2);
    opacity: 0.8;
    text-shadow: 0px 150px 20px rgba(0, 0, 0, 0.8);
  }
}
